.button {
    display: inline-flex; /* Changed to inline-flex to apply flex properties */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #0f6848;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
    font-size: 14px;
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center text */
    line-height: normal; /* Remove specific line-height */
    color: #ffffff; /* Set text color to white */
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Add text shadow for clarity */
}

.button1 {
    background-color: #718096;
}

.button::before,
.button::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
}

.button::before {
    left: -10px;
    background: #000;
}

.button::after {
    right: -10px;
    background: #ccc;
}

.button:hover::before,
.button:hover::after {
    width: 58%;
}

.button:hover {
    background-color: #000;
    color: #fff;
}

.button span {
    color: #ffffff; /* Set the text color to white */
    transition: all 0.3s ease-in;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Add text shadow for clarity */
}

.button:hover span {
    color: #fff; /* Ensure text color stays white on hover */
}

.bg-success1{
    background: #244A0A;
}
